#title {
    /* margin: auto; */
    color: rgb(68, 68, 67);
    /* font-size: 50px; */
    text-align: center;
    font-family: 'Thasadith', sans-serif;
  }

 body {
    font-family: 'Thasadith', sans-serif;
      background-image: url(../images/background.jpg);  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }

  .navbar {
    opacity: 0.7;
  }

  .nav-link {
    font-size: larger;
  }
  .page-footer {
    opacity: 0.7;
  }
  .container {
      background-color: rgba(255, 253, 253, 0.5);
      height: 1000px;
  }

  p {
    color: rgba(10,10,10,1);
    opacity: 1;

  }
 
  #fbpic {
      margin-bottom: 40px;
      margin-left: 15px
  }

  /* #cardsDiv {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 20px;
  } */

  
  .card {
      margin-left: 15px;
      margin-right: 15px;
      border: none;
      margin-top: 20px;
    margin-bottom: 20px;
     
      
  }

  .front {
    height: 250px;
  }
 

  #submit {
    margin-bottom: 15px;
  }


  .flip {
    height: 199px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.flip img {
    width: 300px;
    height: auto;
}
.flip .back {
    background:white;
    color:black;
    text-align: center;
    transition-duration: 1s;
    margin-top: 20px;
}
h5 {
  text-align:center;
  font-weight: bold;
}


.link {
  border:none;
}

.footerlink {
  color: white;
}

  @media (min-width: 768px){
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: none;
      margin-bottom: 10px;
  }  
  }
  
  